html, body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #121615;
}


/* ################# Header and Atmospheric ############### */
.atmospheric {
  background-image: url('../assets/images/atmospheric.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
  color: aliceblue;
}


/* ################# Article ############### */
.article-content {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

article, .embed-responsive {
  /* margin-top: 38%; */
  border-radius: 50px;
  box-shadow: 0 6px 10px rgb(0, 0, 0);
  padding: 25px;
}

.embed-responsive iframe + iframe{
margin-top: 2rem;
}

iframe {
  left: 0;
  width: 100%;
  height: 325px;
  border: 0;    
}

.must-foto {
  width: 100%;
  height: 100%;

  border-radius: 50px;
  box-shadow: 0 6px 10px rgb(0, 0, 0);
  padding: 20px;
}


/*################# Footer & socials ###############  */

.bi-youtube {
color: red;
}

.bi-instagram {
color: rgb(156, 0, 130);
}

.bi-twitter {
color: rgb(22, 149, 223);
}


/* Contact */
.conatctpageadmin {
width: 100%;
height: 90%;
border-radius: 50px;
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
padding: 10px;
color: #ffffff;

}

#adminContact {
background-color: #2E6749;
padding: 20px;
margin-top: 10px;
}




/* button */
.my-custom-button {
background-color: #121615; 
border: none; 
color: rgb(255, 255, 255);  
padding: 10px 20px;  
font-size: 15px;  
cursor: pointer;  
border-radius: 50px;
box-shadow: 0 6px 10px rgb(0, 0, 0);
font-family: 'Open Sans', sans-serif;
line-height: 1.6;
}
/* zweven */
.my-custom-button:hover {
background-color: #121615;
}


.cybersecurityawareness-foto {
  width: 100%;
  height: 250px;
}



/* service items - Overzicht Diensten */
.service-item {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f8f9fa; 
  border: 1px solid #c2c7cce0; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  transition: transform 0.3s ease-in-out; 
}

.service-item h2 {
  color: #2E6749; 
  margin-bottom: 10px;
}

.service-item p {
  color: #121615; 
  font-size: 1rem;
}

.service-item a {
  text-decoration: none; 
  color: #2E6749; 
}

.service-item figure {
  margin: 0; 
  position: relative; 
}

.service-item img {
  width: 100%; 
  border-radius: 5px; 
}

.service-item figcaption {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5); 
  color: white; 
  font-size: 0.75rem; 
  padding: 5px; 
  border-radius: 3px; 
}

.service-item:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
}

/* Cybersecurity Awareness page */
.cybersecurity-awareness {
  background-color: #ffffff; 
  color: #121615; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cybersecurity-awareness .atmospheric {
  padding: 40px 10px; 
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/cybersecurityawareness.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
}
.cybersecurity-awareness section {
  margin: 20px auto;
  max-width: 100%;
}

.cybersecurity-awareness h2, .cybersecurity-awareness h3 {
  color: #2E6749; 
}

.cybersecurity-awareness ul {
  padding-left: 20px;
}


.cybersecurity-awareness p {
  line-height: 1.6;
}

.cybersecurity-awareness a {
  color: #0011ff;
  text-decoration: none;
}

.cybersecurity-awareness a:hover {
  text-decoration: underline;
}


  /* Threat intelligence Services css styles page */
  .threat-intelligence-services {
    background-color: #ffffff; 
    color: #333; 
    font-family: 'Arial', sans-serif; 
  }
  
  .threat-intelligence-services .atmospheric {
    padding: 50px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/threatintelligenceservices.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
  }
  
  .threat-intelligence-services section {
    margin: 20px auto;
  }
  
  .threat-intelligence-services h2, .threat-intelligence-services h3, .threat-intelligence-services h4 {
    color: #2E6749; 
  }
  
  .threat-intelligence-services ul {
    padding-left: 20px;
  }
  
  .threat-intelligence-services li {
    margin-bottom: 10px;
  }
  
  .threat-intelligence-services a {
    color: #007bff; 
    text-decoration: none; 
  }
  
  .threat-intelligence-services a:hover {
    text-decoration: underline; 
  }
  
  /* Threat intelligence Services Iframe */
  .threatintelligence-responsive {
    border-radius: 50px;
    box-shadow: 0 6px 10px rgb(0, 0, 0);
    padding: 25px;
  }

  /* Netwerk Beveiliging css styles page */
  .netwerkbeveiliging {
    background-color: #ffffff; 
    color: #121615; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .netwerkbeveiliging .atmospheric {
    padding: 40px 10px; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/networksecurity.jpg') no-repeat center center;
    background-size: cover;
    color: #ffffff;
  }
  .netwerkbeveiliging section {
    margin: 20px auto;
    max-width: 100%;
  }
  
  .netwerkbeveiliging h2, .netwerkbeveiliging h3, .netwerkbeveiliging h4 {
    color: #2E6749; 
  }
  
  .netwerkbeveiliging ul {
    padding-left: 20px;
  }
  
  .netwerkbeveiliging li {
    margin-bottom: 10px;
  }
  
  .netwerkbeveiliging p {
    line-height: 1.6;
  }
  
  .netwerkbeveiliging a {
    color: #0011ff;
    text-decoration: none;
  }
  
  .netwerkbeveiliging a:hover {
    text-decoration: underline;
  }


    /* Schaalbaarheid css styles page */
    .schaalbaarheid {
      background-color: #ffffff; 
      color: #121615; 
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .schaalbaarheid .atmospheric {
      padding: 40px 10px; 
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/schaalbaarheid.jpg') no-repeat center center;
      background-size: cover;
      color: #ffffff;
    }
    .schaalbaarheid section {
      margin: 20px auto;
      max-width: 100%;
    }
    
    .schaalbaarheid h2, .schaalbaarheid h3, .schaalbaarheid h4 {
      color: #2E6749; 
    }
    
    .schaalbaarheid ul {
      padding-left: 20px;
    }
    
    .schaalbaarheid li {
      margin-bottom: 10px;
    }
    
    .schaalbaarheid p {
      line-height: 1.6;
    }
    
    .schaalbaarheid a {
      color: #0011ff;
      text-decoration: none;
    }
    
    .schaalbaarheid a:hover {
      text-decoration: underline;
    }

    
    /* prestatieoptimalisatie css styles page */
    .prestatieoptimalisatie {
      background-color: #ffffff; 
      color: #121615; 
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .prestatieoptimalisatie .atmospheric {
      padding: 40px 10px; 
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/prestatieoptimalisatie.jpg') no-repeat center center;
      background-size: cover;
      color: #ffffff;
    }
    .prestatieoptimalisatie section {
      margin: 20px auto;
      max-width: 100%;
    }
    
    .prestatieoptimalisatie h2, .prestatieoptimalisatie h3, .prestatieoptimalisatie h4 {
      color: #2E6749; 
    }
    
    .prestatieoptimalisatie ul {
      padding-left: 20px;
    }
    
    .prestatieoptimalisatie li {
      margin-bottom: 10px;
    }
    
    .prestatieoptimalisatie p {
      line-height: 1.6;
    }
    
    .prestatieoptimalisatie a {
      color: #0011ff;
      text-decoration: none;
    }
    
    .prestatieoptimalisatie a:hover {
      text-decoration: underline;
    }


        
    /* Beheeren Monitoring css styles page */
    .beheerenmonitoring {
      background-color: #ffffff; 
      color: #121615; 
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .beheerenmonitoring .atmospheric {
      padding: 40px 10px; 
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/beheermonitoring.jpg') no-repeat center center;
      background-size: cover;
      color: #ffffff;
    }
    .beheerenmonitoring section {
      margin: 20px auto;
      max-width: 100%;
    }
    
    .beheerenmonitoring h2, .beheerenmonitoring h3, .beheerenmonitoring h4 {
      color: #2E6749; 
    }
    
    .beheerenmonitoring p {
      line-height: 1.6;
    }
    
    .beheerenmonitoring a {
      color: #0011ff;
      text-decoration: none;
    }
    
    .beheerenmonitoring a:hover {
      text-decoration: underline;
    }


    .bmbeheerenmonitoring {
      border-radius: 50px;
      box-shadow: 0 6px 10px rgb(0, 0, 0);
      padding: 20px;
      }